# Eclipse
/bin/
/.classpath
/.project

# MacOS :(                                                                                                                                                                         
.DS_Store                                                                                                                                                                         
.AppleDouble                                                                                                                                                                      
.LSOverride

# Third-party JAR's for Eclipse project:
/jar/lib/ 