# Eclipse
/bin/
/.classpath
/.project

# MacOS :(                                                                                                                                                                         
.DS_Store                                                                                                                                                                         
.AppleDouble                                                                                                                                                                      
.LSOverride 